<h1 class="text-center mt-5">Página Categorias</h1>


<section>

    {{#each categorias }}
        <p>Nombre: {{this.nombre}} - Cantidad de productos por categoria: {{this.count}}</p>
    {{/each }}
</section>