<h1 class="text-center mt-5">Página principal</h1>


<section>
    <div class="row">
        {{#each productos }}
        <div class="col-12 col-md-6 col-lg-4">
            {{>card 
                id= this.dataValues.id
                nombre= this.dataValues.nombre
                descripcion= this.dataValues.descripcion
            }}
        </div>
        {{/each }}
    </div>
</section>